[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "pk.mobilemarket.app",
      "sha256_cert_fingerprints": [
        "PASTE_SHA256_HERE"
      ]
    }
  }
]
